[submodule "server"]
	path = server
	url = https://github.com/aeliot/Arke-Server.git
[submodule "iOS"]
	path = iOS
	url = https://github.com/JGets/Arke-iOS.git
[submodule "android"]
	path = android
	url = https://github.com/aeliot/Arke-Android.git
